.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}
.delete-form {
    display: inline;
}
.thumbnail #index {
    height: 180px;
}

.media {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 500px) {
    .media {
        display: block;
        justify-content: inherit;
        width: 100%;
    }
}